@font-face {
  @font-face {
    font-family: Blackstone;
    src: url("//static.showit.co/file/ECNnwXe6RYa07crElALK8g/73798/blackstone.woff");
  }
  @font-face {
    font-family: BonVivant;
    src: url("//static.showit.co/file/ECNnwXe6RYa07crElALK8g/73798/bonvivant.woff");
  }
}
