---
import data from "../../data.json"

const aboutCourse = data["about"]["enough"]
---

<div class="bg-header">
	<div class="container mx-auto my-32 h-auto -translate-y-5 px-0 tablet:px-5">
		<div class="grid grid-cols-1 items-start justify-items-center gap-10 tablet:grid-cols-2">
			<!-- Image Section -->
			<div class="">
				<img
					src="/images/hero.jpg"
					alt="hero"
					class="h-auto w-full object-cover tablet:h-[700px] tablet:w-[420px] laptop:h-[auto]"
				/>
			</div>
			<!-- Text Section -->
			<div class="space-y-10 px-5 tablet:space-y-5">
				<h3
					class="laptop:text:5xl text-center font-prata text-4xl mobile:text-3xl tablet:text-left tablet:text-4xl"
				>
					{aboutCourse?.title}
				</h3>
				<p class="font-tajawal text-lg">{aboutCourse.about_course}</p>
			</div>
		</div>
		<div class="my-10 flex justify-center">
			<a href="/contact">
				<button class="btn__b"> Book a Consultation </button>
			</a>
		</div>
	</div>
</div>
