---
import data from "../../data.json"
import CallToAction from "../CallToAction.astro"
import Wrapper from "../Wrapper.astro"

const aboutCourse = data["about"]["enough"]

const paragraph = aboutCourse.about_course.split("\n\n")
---

<Wrapper
	class="container mx-auto mt-10 flex w-full flex-col items-center justify-center space-y-10 px-5"
>
	<div
		class="laptop:grid-cols-2 grid grid-cols-1 items-center justify-center justify-items-center gap-2"
	>
		<!-- Image Section -->

		<img
			src="/images/hero.jpg"
			alt="hero"
			class="tablet:h-[300px] tablet:w-[300px] laptop:h-[550px] laptop:w-[470px] object-coverp h-64 w-full"
		/>

		<!-- Text Section -->
		<div class="space-y-4 px-5">
			<h3
				class="font-prata laptop:text-size-6 tablet:text-[2rem] laptop:text-left text-center text-[1.5rem]"
			>
				My 5-Step Journey to Freedom and Personal Power
			</h3>

			{paragraph.map((paragraph) => <p class="font-tajawal text-lg text-[16px]">{paragraph}</p>)}
			<div class="flex justify-center gap-5">
				<CallToAction href="/contact">Book a Consultation</CallToAction>
			</div>
		</div>
	</div>
</Wrapper>
