---
import Gallery from "./Gallery.astro"

import data from "../../data.json"

const funFacts = data["about"]["fun-facts"]
---

<div class="box mx-auto mt-20 h-auto py-10">
	<div class="mx-auto grid h-auto grid-cols-1 justify-items-center">
		<div
			class="tablet:flex-row tablet:space-y-0 flex scale-100 flex-col-reverse items-center justify-center space-y-10"
		>
			<Gallery />
			<div
				class="tablet:bg-none flex h-auto w-full flex-col items-center justify-center bg-[#fbf4f2] px-5 py-8"
			>
				<h1
					class="font-blackstone tablet:text-start tablet:text-size-7 laptop:text-[4rem] mb-10 w-full text-center font-bold text-[#9f837a]"
				>
					Fun Facts About Me!
				</h1>

				<ul class="w-full space-y-10">
					{
						funFacts.map((item, index) => (
							<li class="font-tajawal tablet:text-start w-full border-b-2 border-[#9f837a] text-center text-4xl text-black last:border-0">
								<span class="text-[#e7d9d2]">{index + 1} </span>
								{item.title}
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</div>

<style>
	.box {
		background: linear-gradient(to left, #fbf4f2 70%, #ffff 70%);
	}
	@media (max-width: 768px) {
		.box {
			background: white;
		}
	}
</style>
