---

---

<div class="grid w-full grid-cols-3 items-end justify-center gap-4 p-10">
	<div class="">
		<img
			src="/images/coffee.jpg"
			alt="gallery image"
			class="object-cover tablet:h-[200px] tablet:w-[200px] laptop:h-[300px] laptop:w-[200px]"
		/>
	</div>
	<div class="col-span-2">
		<img
			src="/images/travel.jpg"
			alt="gallery image"
			class="object-cover tablet:h-[300px] tablet:w-[200px] laptop:h-[400px] laptop:w-[300px]"
		/>
	</div>
	<div class="col-span-2">
		<img src="/images/beach.jpg" alt="gallery image" class="h-64 w-full object-cover" />
	</div>
	<div></div>
</div>
