---
import data from "../../data.json"

const title = data["about"].hero.title
const description = data["about"].hero.description
const image = data["about"].hero.image

import HeroWrapper from "../HeroWrapper.astro"
---

<HeroWrapper img={image} class="tablet:flex-row-reverse">
	<h1
		class="font-blackstone tablet:text-left tablet:text-size-8 laptop:text-[4rem] text-light-rose text-center text-[3rem] font-light"
	>
		{title}
	</h1>
	<h2 class="font-prata laptop:text-left text-size-6 tablet:text-size-6 text-center">
		<i class="font-italic">{description}</i>
	</h2>
	<p class="font-tajawal tablet:text-left text-center text-[20px]">
		When life breaks you, it’s because you are ready to be put back together differently. Every
		piece of you that feels shattered, is a piece that will find a new place, a new purpose, a new
		meaning. Trust that the cracks are where the light gets in.
	</p>
</HeroWrapper>
