---
import data from "../../data.json"

const { title, description, image, paragraph } = data["about"].hero

import HeroWrapper from "../HeroWrapper.astro"
---

<HeroWrapper img={image} class="tablet:flex-row-reverse">
	<h1
		class="font-blackstone tablet:text-left tablet:text-size-8 laptop:text-[4rem] text-light-rose text-center text-[3rem] font-light"
	>
		{title}
	</h1>
	<h2 class="font-prata laptop:text-left tablet:text-size-6 text-justify text-[2rem]">
		<i class="font-italic">{description}</i>
	</h2>
	<p class="font-tajawal tablet:text-left text-justify text-[20px]">
		{paragraph}
	</p>
</HeroWrapper>
