---
import Layout from '../layouts/Layout.astro';

---



<Layout title='About | Tricia Rago Coaching' description='about tricia rago' image='example.jpg'>
    <main>
        <section aria-label="About page">
            <h1>About page</h1>
        </section>
    </main>
</Layout>
