---
import Hero from "../components/about/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="About | Tricia Rago Coaching" description="about tricia rago" image="example.jpg">
	<main>
	   <Hero />
	</main>
</Layout>
