---
import Hero from "../components/coaching/Hero.astro"
import PaymentPlan from "../components/coaching/PaymentPlan.astro"
import Steps from "../components/coaching/Steps.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
	title="Coaching | Tricia Rago Coaching"
	description="Coaching Tricia Rago"
	image="example.jpg"
>
	<main>
		<Hero />
		<Steps />
		<PaymentPlan />
	</main>
</Layout>
