---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/coaching/Hero.astro"

---

<Layout title='Conscious Uncoupling | Tricia Rago Coaching' description='Conscious Uncoupling  Tricia Rago' image='example.jpg'>
<main>
    <Hero/>
</main>
</Layout>
