---
import Connect from "../components/coaching/Connect.astro"
import Hero from "../components/coaching/Hero.astro"
import PaymentPlan from "../components/coaching/PaymentPlan.astro"
import Steps from "../components/coaching/Steps.astro"
import Layout from "../layouts/Layout.astro"

import getSEO from "../lib/queries/getSEO.ts"

const seoData = await getSEO("seo_id", "seo", "coaching")
---

<Layout
	title={seoData!.title}
	description={seoData!.description}
	image="example.jpg"
	keywords={seoData!.keywords}
>
	<main>
		<Hero />
		<Steps />
		<Connect />
		<PaymentPlan />
	</main>
</Layout>
