---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/coaching/Hero.astro"
import Description from '../components/coaching/Description.astro';

---

<Layout title='Coaching | Tricia Rago Coaching' description='Coaching Tricia Rago' image='example.jpg'>
<main>
    <Hero/>
    <Description/>
</main>
</Layout>
