---
import Layout from '../layouts/Layout.astro';

---



<Layout title='Conscious Uncoupling | Tricia Rago Coaching' description='Conscious Uncoupling  Tricia Rago' image='example.jpg'>
<main>
    <section aria-label="Conscious page">
        <h1>Conscious page</h1>
    </section>
</main>
</Layout>
