---
import Layout from '../layouts/Layout.astro';

---
<Layout title='Contact | Tricia Rago Coaching' description='contact to Tricia Rago' image='example.jpg'>
    <main>
        <section aria-label="Contact page">
            <h1>Contact Page</h1>
        </section>
    </main>
</Layout>


<style >
main {
    @apply grid place-content-center p-20
}
</style>
