---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/home/Hero.astro";
import UserPainPoints from "../components/home/UserPainPoints.astro";
import Benefits from "../components/home/Benefits.astro";
import CoachingInfo from '../components/home/CoachingInfo.astro';
---
<Layout title="Tricia Rago Coaching" description='hello to tricia coaching' image='hello.example.jpg'>
    <main>
        <Hero />
        <UserPainPoints />
        <Benefits />
        <CoachingInfo/>
	</main>
</Layout>
