---
import Benefits from "../components/home/Benefits.astro"
import CoachingInfo from "../components/home/CoachingInfo.astro"
import Hero from "../components/home/Hero.astro"
import Podcast from "../components/home/Podcast.astro"
import UserPainPoints from "../components/home/UserPainPoints.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
	title="Tricia Rago Coaching"
	description="hello to tricia coaching"
	image="hello.example.jpg"
>
	<main>
		<Hero />
		<UserPainPoints />
		<Benefits />
		<CoachingInfo />
		<Podcast />
	</main>
</Layout>
