---
import Hero from "../components/podcast/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
	title="Podcast | Tricia Rago Coaching"
	description="podcast with Tricia Rago"
	image="example.jpg"
>
	<main>
		<Hero />
	</main>
</Layout>
