---
import data from "../../data.json"
import CallToAction from "../CallToAction.astro"
import Icon from "../Icon.astro"
import Wrapper from "../Wrapper.astro"

const title = data.home["benefits"].title
const benefits = data.home["benefits"].benefits
---

<Wrapper class="container flex flex-col items-center justify-center space-y-10">
	<h3
		class="font-prata text-taupe text-size-6 tablet:text-size-7 laptop:text-[3rem] tablet:w-8/12 w-full text-center leading-13 opacity-0"
		:class="intersect ? 'animate-fade-up  animate-delay-200 ' : 'opacity-0'"
	>
		{title}
	</h3>

	<div
		class="tablet:grid-cols-[var(--grid-40-60)] grid grid-cols-1 items-center justify-center gap-5"
	>
		<img
			src="/images/hero.jpg"
			alt="hero"
			class="tablet:h-[400px] tablet:w-[300px] laptop:h-[400px] laptop:w-[400px] tablet:block hidden h-64 w-full object-cover"
		/>
		<div class="border-btn_bg tablet:hidden w-full border-2 border-solid"></div>

		<div
			class="bg-cream tablet:h-[400px] tablet:p-2 laptop:h-[400px] laptop:p-7 flex h-full flex-col justify-center p-5"
		>
			<ul class="flex h-full list-none flex-col justify-evenly space-y-4">
				{
					benefits.map(
						(
							benefit,
							index // Added key prop
						) => (
							<li class="flex items-center gap-3">
								<div class="flex h-[2em] items-center">
									<Icon icon="check" size="2em" color="#e89faa" />
								</div>
								<p class="font-tajawal text-dark-gray text-size-1 tablet:my-0 laptop:text-size-1 laptop:leading-6 my-2 leading-5 font-semibold tracking-[.156em] uppercase">
									{benefit}
								</p>
							</li>
						)
					)
				}
			</ul>
		</div>
	</div>

	<div
		class="my-5 flex justify-center opacity-0"
		:class="intersect ? 'animate-fade animate-delay-700 ' : 'opacity-0'"
	>
		<CallToAction href="/contact">Book Free Consultation</CallToAction>
	</div>
</Wrapper>
