---
import data from "../../data.json";

const title = data.home["benefits"].title;
const benefits = data.home["benefits"].benefits;

---
<div class="general-layout__c">

    <div class="flex justify-center my-10">
        <h3 class="title__a">
            {title}
        </h3>
    </div>
    <div class="layout__a">

        <div class="hidden laptop:flex">
            <img src="/images/hero.jpg" alt="hero" class="w-full h-auto object-cover "/>
        </div>
        <div class="border-2 border-solid w-full laptop:hidden border-btn_bg"></div>
        <div class="bg-hero_bg2 h-auto  p-10 flex flex-col gap-10 justify-center">
        {benefits.map((benefit) => (<li class="flex items-start">
                <!-- SVG Icon -->

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" class="w-10 h-10 text-hero_color flex-shrink-0 mt-1"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>

                <!-- List Item Text -->
                <p class="ml-4 font-tajawal pain-points uppercase font-extrabold leading-15">
                    {benefit}
                </>
         </li>))}
        </div>
    </div>
    <div class="flex justify-center my-10">
        <a href="/contact">
            <button class="btn__b">
                Book a Consultation
            </button>
         </a>
    </div>
</div>
