---
import data from "../../data.json"
import CallToAction from "../CallToAction.astro"
import Wrapper from "../Wrapper.astro"

const title = data["home"].coaching_info.title
const subtitle = data["home"].coaching_info.subtitle
const image = data["home"].coaching_info.image
const description = data["home"].coaching_info.description
---

<Wrapper class="bg-light-gray tablet:grid-cols-2 laptop:gap-5 grid grid-cols-1 items-center gap-11">
	<div class="tablet:items-start mx-auto w-full max-w-lg space-y-5">
		<h3
			class="font-prata text-taupe text-size-6 tablet:text-left tablet:text-size-7 laptop:text-[3rem] text-center font-bold"
		>
			{title}
		</h3>
		<p
			class="font-tajawal tablet:text-left text-center leading-7 font-semibold tracking-[.156em] uppercase"
		>
			{subtitle}
		</p>
		<p class="font-tajawal tablet:text-left text-center text-lg">
			{description}
		</p>

		<div class="tablet:justify-start flex justify-center">
			<CallToAction href="/coaching">Learn More</CallToAction>
		</div>
	</div>
	<figure class="flex flex-col items-center justify-center px-5">
		<img src={image} alt="foots images" class="tablet:h-96 tablet:w-96 h-96 w-auto object-cover" />
	</figure>
</Wrapper>
