---
import CallToAction from "../CallToAction.astro"
import Wrapper from "../Wrapper.astro"

interface Props {
	title: string
	subtitle: string
	image: string
	description: string
}

const { title, subtitle, image, description } = Astro.props as Props

const email = "patricia@coachtriciarago.com"
---

<Wrapper class="tablet:grid-cols-2 laptop:gap-5 grid grid-cols-1 items-center gap-11 bg-[#fbf4f2]">
	<div class="tablet:items-start mx-auto w-full max-w-lg space-y-5">
		<h3
			class="font-blackstone text-light-rose text-size-7 tablet:text-left tablet:text-size-6 laptop:text-[3.5rem] text-center opacity-0"
			:class="intersect ? 'animate-fade-right  animate-delay-0 ' : 'opacity-0'"
		>
			I'm here to support you
		</h3>
		<p
			class="font-tajawal tablet:text-left text-center leading-7 font-semibold tracking-[.156em] uppercase opacity-0"
			:class="intersect ? 'animate-fade  animate-delay-400 ' : 'opacity-0'"
		>
			{subtitle}
		</p>
		<p
			class="font-tajawal text-justify text-lg opacity-0"
			:class="intersect ? 'animate-fade  animate-delay-400 ' : 'opacity-0'"
		>
			{description}
		</p>

		<div class="tablet:justify-start flex justify-center">
			<CallToAction href={`mailto:${email}`}>Learn More</CallToAction>
		</div>
	</div>
	<figure class="flex flex-col items-center justify-center px-5">
		<img src={image} alt="foots images" class="tablet:h-96 tablet:w-96 h-96 w-auto object-cover" />
	</figure>
</Wrapper>
