---
import data from "../../data.json";

const title = data["home"].coaching_info.title;
const subtitle = data["home"].coaching_info.subtitle;
const image = data["home"].coaching_info.image;
const description = data["home"].coaching_info.description;
---
<div class="general-layout__a">
    <div class="layout__g">
        <h3 class="title__c">{title}</h3>
        <p class="subtitle__c">{subtitle}</p>
        <p class="text__b">{description}</p>
        <div>

            <a href="/coaching" class="">
                <button class="btn__b">
                    learn more...
                </button>
            </a>

        </div>
    </div>
    <div class="flex flex-col justify-center items-center px-5">
        <img src={image} alt="foots images" class="w-auto h-96 tablet:w-96 tablet:h-96 object-cover">
    </div>
</div>
