---
import CallToAction from "../CallToAction.astro"
import HomeHero from "../HomeHero.astro"

interface Props {
	title: string
	subtitle: string
	description: string
	image: string
}

const { title, subtitle, description, image } = Astro.props as Props
---

<HomeHero image={image}>
	<h1
		slot="title"
		class="hero_title opacity-0"
		:class="intersect ? 'animate-fade-left animate-ease-in-out  animate-delay-300 ' : 'opacity-0'"
	>
		{title}
	</h1>
	<h5
		slot="subtitle"
		class="hero_subtitle opacity-0"
		:class="intersect ? 'animate-fade-left animate-ease-in-out  animate-delay-700 ' : 'opacity-0'"
	>
		{subtitle}
	</h5>
	<h3 slot="description" class="hero_description">
		{description}
	</h3>
	<CallToAction href="/about" aria="About the life of Tricia Rago and how I started." slot="cta">
		About Me
	</CallToAction>
</HomeHero>
