---
import data from "../../data.json";

const subtitle = data.home["hero"].subtitle;
const title = data.home["hero"].title;
const description = data.home["hero"].description;
const heroImg = data.home["hero"].image;

---
<div class="general-layout__d">
    <!-- Hero Image Section -->
    <div class="w-full h-full flex items-center justify-center">
        <img src={heroImg} alt="hero" class="object-cover object-top w-full h-full" />
    </div>

    <!-- Content Section -->
    <div class="layout__d">
        <div class="layout__e">
            <h2 class="title__d">
                {title}
            </h2>
            <p class="subtitle__a">
                {subtitle}
            </p>
        </div>
        <div class="layout__f">
            <h3 class="title__e">
                {description}
            </h3>
            <a href="/about">
                <button class="btn__b">
                    About me
                </button>
            </a>
        </div>
    </div>
</div>
