---
---
<!-- Testimonial Card with Responsive Height and Adaptable Content -->
<div class="layout__h">
    <h3 class="title__f">
        "Seriously. Don't hesitate. Reese will help you not only with your business, but how to be more confident in life!"
    </h3>
    <p class="text__c">
        Thundercats stumptown direct trade crucifix, vinyl poke lumbersexual twee kickstarter bicycle rights cloud bread enamel pin post-ironic waistcoat. Fixie etsy ugh, 90's direct trade pork belly put a bird on it live-edge bitters organic succulents tote bag 8-bit chia vegan.
    </p>
    <p class="text__c">
        Angela, CEO of Angela's Bakery
    </p>
</div>
