---
import Icon from "../Icon.astro"
import Wrapper from "../Wrapper.astro"

import data from "../../data.json"
import Carousel from "./Carousel"

const { title, subtitle, pain_points } = data.home["user_pain_points"]
---

<Wrapper class="bg-light-gray tablet:grid-cols-2 grid grid-cols-1 items-center gap-5">
	<div class="tablet:items-start mx-auto w-full max-w-lg space-y-7">
		<h2
			class="font-prata text-size-5 tablet:text-left tablet:text-[2rem] laptop:text-size-6 text-center text-black opacity-0"
			:class="intersect ? 'animate-fade-up animate-ease-in  ' : 'opacity-0'"
		>
			{title}
		</h2>

		<h3
			class="font-prata text-taupe tablet:text-3xl tablet:text-left text-center text-2xl opacity-0"
			:class="intersect ? 'animate-fade-left animate-ease-in  animate-delay-200 ' : 'opacity-0'"
		>
			{subtitle}
		</h3>

		<ul
			class="flex flex-col space-y-2 opacity-0"
			:class="intersect ? 'animate-fade-left animate-ease-in  animate-delay-200 ' : 'opacity-0'"
		>
			{
				pain_points.map((item) => (
					<li class="flex items-center gap-3">
						<div class="flex h-[2em] items-center">
							<Icon icon="x-mark" size="2em" color="#e89faa" />
						</div>
						<span class="font-tajawal text-dark-gray text-size-1 tablet:my-2 laptop:my-4 my-2 leading-7 font-semibold tracking-[.156em] uppercase">
							{item}
						</span>
					</li>
				))
			}
		</ul>
	</div>
	<aside class="tablet:justify-start flex justify-center">
		<Carousel client:load />
	</aside>
</Wrapper>
