---
import Form from "./Form.astro"
---

<section
	class="section mx-auto w-full space-y-10 p-10"
	x-data="{ intersect: false }"
	x-intersect:enter="intersect = true"
	x-intersect:leave="intersect = false"
>
	<div
		class="mx-auto grid h-auto grid-cols-1 justify-items-center opacity-0"
		:class="intersect ? 'animate-fade-left animate-ease-in-out  animate-delay-400 ' : 'opacity-0'"
	>
		<div class="tablet:flex-row flex w-full flex-col items-center justify-center gap-10">
			<Form />

			<img
				src="/images/girl.jpg"
				alt="hero image"
				class="tablet:h-[400px] tablet:w-[400px] laptop:h-auto laptop:w-[500px] h-64 w-full object-cover"
			/>
		</div>
	</div>
</section>
