---
import Form from "./Form.astro"

import data from "../../data.json"

const contact = data.contact["contact-form"]
const image = data["home"].coaching_info.image
---

<div
	class="tablet:grid-cols-2 tablet:p-10 laptop:p-14 mx-auto grid grid-cols-1 items-center gap-5 p-5"
>
	<div>
		<Form />
	</div>
</div>
