---

---

<!-- This example is a static form. If you want to process the form on submission, you’ll need a server endpoint or a third-party service. -->
<form
	method="POST"
	action="/api/contact"
	class="laptop:w-5/12 tablet:w-[400px] tablet:p-5 laptop:p-10 w-full rounded bg-zinc-100 p-5 shadow-md"
>
	<h2 class="tablet:text-size-5 laptop:text-size-6 font-prata mb-4 text-[23px] font-semibold">
		Contact Me
	</h2>

	<div class="mb-4">
		<label for="name" class="font-tajawal text-size-4 mb-1 block font-medium">Name</label>
		<input
			type="text"
			id="name"
			name="name"
			required
			class="w-full rounded border border-gray-300 px-3 py-2"
			placeholder="Enter your first name"
		/>
	</div>

	<div class="mb-4">
		<label for="lastname" class="font-tajawal text-size-4 mb-1 block font-medium">Last Name</label>
		<input
			type="text"
			id="lastname"
			name="lastname"
			required
			class="w-full rounded border border-gray-300 px-3 py-2"
			placeholder="Enter your last name"
		/>
	</div>

	<div class="mb-4">
		<label for="email" class="font-tajawal text-size-4 mb-1 block font-medium">Email</label>
		<input
			type="email"
			id="email"
			name="email"
			required
			class="w-full rounded border border-gray-300 px-3 py-2"
			placeholder="Enter your email address"
		/>
	</div>

	<div class="mb-4">
		<label for="help" class="font-tajawal text-size-4 mb-1 block font-medium"
			>How can I help you?</label
		>
		<textarea
			id="help"
			name="help"
			required
			class="h-24 w-full rounded border border-gray-300 px-3 py-2"
			placeholder="Sign up for your free consultation or
address any questions about enrollment"
		></textarea>
	</div>

	<button
		type="submit"
		class="font-tajawal text-taupe mb-2 w-full border-2 px-5 py-2.5 text-center text-xl font-extrabold tracking-[0.07em] uppercase"
	>
		Send a message
	</button>
</form>
