---
import data from "../../data.json"

const image = data["home"].coaching_info.image

import HeroWrapper from "../HeroWrapper.astro"

const { title, description, subtitle } = data.contact["hero"]
---

<HeroWrapper img={image}>
	<h1
		class="font-blackstone tablet:text-left tablet:text-size-8 laptop:text-[6rem] text-light-rose text-center text-[3rem] font-light opacity-0"
		:class="intersect ? 'animate-fade-up animate-ease-in-out  animate-delay-200 ' : 'opacity-0'"
	>
		{title}
	</h1>

	<h2
		class="font-prata laptop:text-left tablet:text-size-5 laptop:text-size-6 text-justify text-[2rem] opacity-0"
		:class="intersect ? 'animate-fade-left animate-ease-in-out  animate-delay-300 ' : 'opacity-0'"
	>
		<i class="font-italic">{subtitle} </i>
		<p
			class="font-tajawal tablet:text-left text-justify text-[20px] opacity-0"
			:class="intersect ? 'animate-fade-left animate-ease-in-out  animate-delay-300 ' : 'opacity-0'"
		>
			{description}
		</p>
	</h2>
</HeroWrapper>
