---
import data from "../../data.json"

const image = data["home"].coaching_info.image

import HeroWrapper from "../HeroWrapper.astro"
---

<HeroWrapper img={image} class="tablet:flex-row-reverse">
	<h1
		class="font-blackstone text-hero_title_mobile text-hero_color2 tablet:text-left tablet:text-hero_title laptop:text-8xl text-center text-7xl text-black"
	>
		let's chat
	</h1>
	<h5
		class="font-prata text-custom_title tablet:text-left tablet:text-custom_subtitle laptop:text-custom_subtitle2 my-5 text-center text-2xl font-normal"
	>
		Ready to chat about your business? I'd love to get to know you and your needs!
	</h5>
	<p class="font-tajawal tablet:text-left w-full text-center text-xl">
		I'm here to help take you to that next level you've been dreaming about!
	</p>
</HeroWrapper>
