---
import CallToAction from "../CallToAction.astro"
import HeroWrapper from "../HeroWrapper.astro"

interface Props {
	title: string
	description: string
	subtitle: string
	image: string
}

const email = "patricia@coachtriciarago.com"

const { title, description, subtitle, image } = Astro.props as Props
---

<HeroWrapper img={image}>
	<h1
		class="font-blackstone tablet:text-left tablet:text-size-8 laptop:text-[4rem] text-light-rose text-center text-[3rem] font-light opacity-0"
		:class="intersect ? 'animate-fade-up animate-ease-in-out  animate-delay-200 ' : 'opacity-0'"
	>
		{title}
	</h1>

	<h2
		class="font-prata laptop:text-left tablet:text-size-5 laptop:text-size-6 text-justify text-[2rem] opacity-0"
		:class="intersect ? 'animate-fade-left animate-ease-in-out  animate-delay-300 ' : 'opacity-0'"
	>
		<i class="font-italic">{subtitle} </i>
	</h2>
	<div class="w-full flex justify-center tablet:justify-start">
		<CallToAction href={`mailto:${email}`}>Send Email</CallToAction>
	</div>
</HeroWrapper>
