---

---

<section class="section mx-auto w-full bg-[#fbf4f2] p-20">
	<div class="box grid grid-cols-1 items-center justify-center tablet:grid-cols-2">
		<div
			class="bg-white z-40 mx-auto flex w-full max-w-lg translate-x-32 flex-col items-start justify-start space-y-10 p-10"
		>
			<h5 class="pain-points font-prata text-5xl">Excited to get started? Me too!</h5>
			<p class="font-tajawal text-3xl text-hero_color">
				Let's connect and discuss how best I can serve you and your business (and your life while
				we're at it).
			</p>
			<span class="font-tajawal text-lg">
				Mustache biodiesel post-ironic fanny pack occupy. Williamsburg gentrify synth health goth,
				poke umami twee austin selvage palo santo master cleanse. Ugh truffaut hammock chicharrones
				coloring book artisan.
			</span>
		</div>
		<div class="flex w-full items-center justify-center tablet:justify-start">
			<img
				src="/images/girl.jpg"
				alt="hero image"
				class="h-64 w-full object-cover tablet:h-[300px] tablet:w-[300px] laptop:h-[600px] laptop:w-[500px]"
			/>
		</div>
	</div>
</section>

<style>
	#box {
		background: linear-gradient(to left, #fbf4f2 60%, transparent 25%);
	}
</style>
