---
import CallToAction from "../CallToAction.astro"
---

<section class="section mx-auto w-full space-y-10 bg-[#fbf4f2] p-10">
	<div class="h-auto w-full">
		<h1
			class="font-prata tablet:text-size-7 laptop:text-[3rem] text-size-5 w-full text-center leading-14 font-light"
		>
			Free Consultation
		</h1>
	</div>
	<div class="mx-auto grid h-auto grid-cols-1 justify-items-center">
		<div
			class="tablet:flex-row tablet:space-y-0 flex scale-100 flex-col items-center justify-center space-y-10"
		>
			<div
				class="tablet:max-w-sm tablet:translate-x-5 tablet:p-5 laptop:max-w-lg laptop:p-11 z-40 mx-auto flex w-full translate-x-0 flex-col space-y-3 bg-[#fcfdf8] p-10"
			>
				<h5
					class="font-prata text-size-5 tablet:text-size-6 laptop:text-size-7 tablet:text-left text-center text-3xl"
				>
					Excited to get started? Me too!
				</h5>
				<p class="font-tajawal text-light-rose tablet:text-size-5 laptop:text-3xl text-xl">
					Let's connect and discuss how best I can serve you.
				</p>
				<span class="font-tajawal tablet:text-lg text-size-3">
					Mustache biodiesel post-ironic fanny pack occupy. Williamsburg gentrify synth health goth,
					poke umami twee austin selvage palo santo master cleanse.
				</span>

				<CallToAction href="/contact" slot="cta">30-minutes Free Consultation</CallToAction>
			</div>

			<img
				src="/images/girl.jpg"
				alt="hero image"
				class="tablet:h-[400px] tablet:w-[400px] tablet:-translate-x-5 laptop:h-[500px] laptop:w-[500px] h-64 w-full translate-x-0 object-cover"
			/>
		</div>
	</div>
</section>
