---
import data from "../../data.json"
import HeroWrapper from "../HeroWrapper.astro"

const { title, subtitle, image } = data.coaching["hero"]
---

<HeroWrapper img={image}>
	<h1
		class="font-blackstone tablet:text-left tablet:text-size-8 laptop:text-[4rem] text-light-rose text-center text-[3rem] font-light"
	>
		{title}
	</h1>
	<h2
		class="font-prata tablet:text-left text-size-6 tablet:text-size-5 laptop:text-size-6 text-center"
	>
		<i class="font-italic">{subtitle}</i>
	</h2>

	<p class="font-tajawal tablet:text-left laptop:text-2xl text-size-3 text-justify">
		We’ll spend an hour once a week for twelve weeks in a private one-on-one session learning how to
		live your happy <span class="font-tajawal text-light-rose font-bold">even</span> after life and exploring
		new beginnings.
	</p>
</HeroWrapper>
