---
import data from "../../data.json"

const title = data.coaching["hero"].title
const image = data.coaching["hero"].image
---

<div class="section mx-auto my-10 w-full space-y-5">
	<div class="mx-auto grid h-auto animate-fade grid-cols-1 justify-items-center gap-10 p-10">
		<div class="flex flex-row items-center space-x-20">
			<img
				src={image}
				alt="hero image"
				class="h-64 w-full object-cover tablet:h-[400px] tablet:w-[400px]"
			/>
			<div class="mx-auto w-full max-w-xl flex-1 items-center justify-center space-y-5" id="image">
				<h1 class="text-left font-blackstone text-5xl font-light">Work with Tricia</h1>
				<p class="font-tajawal text-4xl">
					You, my friend, have come to the right place. Let's change your life for the better.
				</p>
				<p class="font-tajawal text-2xl">
					Here you can talk about how your prospective client will benefit from working with you and
					just how much you understand and can related to their pain point.
				</p>
			</div>
		</div>
	</div>
</div>

<style>
	#image img {
		height: 650px;
		width: 100%;
		object-fit: cover;
		object-position: top;
	}
</style>
