---
import data from "../../data.json"
import CallToAction from "../CallToAction.astro"

const paymentPlan = data.coaching["payment_plan"]

const heroImg = data.home["hero"].image
---

<div class="section tablet:max-w-5xl mx-auto my-[7rem] h-auto w-full space-y-20 px-10">
	<div class="h-auto w-full space-y-5">
		<h1
			class="font-tajawal text-light-rose tablet:text-2xl ml-4 w-full text-center text-xl leading-14 font-semibold"
		>
			Lets Work Together!
		</h1>
		<h5
			class="tablet:text-left; font-prata tablet:text-size-7 laptop:text-[3rem] text-size-5 text-center"
		>
			Choose Your Experience
		</h5>
	</div>
	<div class={`mx-auto grid h-auto grid-cols-1 justify-items-center gap-0 tablet:gap-10 `}>
		{
			paymentPlan.map((item, id) => {
				let isPair = item.id % 2 === 0
				return (
					<div
						class={`tablet:flex-row flex flex-col items-stretch justify-center space-x-0 ${isPair ? "tablet:flex-row-reverse" : ""}`}
					>
						<img
							src={heroImg}
							alt="hero image"
							class="tablet:h-[300px] tablet:w-[300px] laptop:h-[500px] laptop:w-[470px] h-64 w-full object-cover"
						/>
						<div
							class={`tablet:p-15 w-full flex-1 p-7 ${isPair ? "bg-light-gray" : "bg-[#fbf4f2]"}`}
						>
							<div class="flex h-full w-full flex-col justify-center space-y-3">
								<h3 class="text-size-5 tablet:text-size-6 w-full text-center">{item.title}</h3>
								<p class="text-justify">{item.description}</p>
								<i class="text-size-3 text-center font-bold">Cost: {item.price}</i>
								<div class="tablet:justify-center flex w-full justify-center gap-5">
									<CallToAction href="/contact">Enroll Now</CallToAction>
								</div>
							</div>
						</div>
					</div>
				)
			})
		}
	</div>
</div>
