---
const menuPath = [
	["/", "Home"],
	["/coaching", "Coaching"],
	["/about", "About"],
	["/podcast", "Podcast"],
	["/contact", "Contact"],
] as const
---

<header class="m-0 flex items-center justify-between bg-description_bg p-5">
	<div class="m-1 flex w-full flex-col justify-center gap-3">
		<h1 class="font-blackstone text-5xl">Tricia Rago</h1>
		<p class="w-full font-figtree text-sm font-thin uppercase leading-regular">
			Conscious Relationship Coach
		</p>
	</div>

	{/* Hamburger Icon for Mobile */}
	<button class="text-black tablet:hidden" id="menu-toggle" aria-label="Toggle menu">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			height="24px"
			viewBox="0 -960 960 960"
			width="24px"
			fill="#5D0E07"
			><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"></path></svg
		>
	</button>

	{/* Navigation Menu */}
	<nav class="hidden w-full justify-end tablet:flex" id="menu">
		<ul class="flex flex-col justify-end gap-4 tablet:flex-row">
			{
				menuPath.map(([to, rout]) => (
					<li class="hover:text-gray-700 mr-6 font-tajawal text-sm font-light uppercase tracking-widest duration-300 ease-in-out hover:text-menu_items">
						<a href={to} class="text-black">
							{rout}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const button = document.getElementById("menu-toggle") as HTMLButtonElement
		const menu = document.getElementById("menu") as HTMLElement

		button.addEventListener("click", function (event: MouseEvent) {
			event.stopPropagation()
			menu.classList.toggle("hidden")
		})

		// Hide the menu if clicked outside
		document.addEventListener("click", function (event: MouseEvent) {
			const target = event.target as HTMLElement
			if (!menu.contains(target) && !button.contains(target)) {
				menu.classList.add("hidden")
			}
		})
	})
</script>
