---
import Icon from "../components/Icon.astro"
import { menuPath } from "../consts"

const pathName = Astro.url.pathname
---

<header
	class={`tablet:px-12 tablet:py-5 laptop:px-16 laptop:py-5 flex items-center justify-between bg-[var(--color-cream)] px-10 py-5 ${pathName !== "/" ? "border-b-light-rose border-b-[2px]" : ""}`}
>
	<div class="flex flex-col gap-2">
		<h1 class="font-blackstone text-5xl">Tricia Rago</h1>
		<p class="font-figtree text-sm font-thin uppercase">Conscious Relationship Coach</p>
	</div>

	<menu-button>
		<template>
			<button
				class="menu-button tablet:hidden text-black"
				aria-expanded="false"
				aria-label="Toggle menu"
			>
				<Icon icon="hamburger_menu" size="2em" color="black" />
			</button>
		</template>
	</menu-button>

	<!-- Desktop navigation -->
	<nav class="tablet:flex hidden justify-end" id="menu-desktop">
		<ul class="laptop:gap-10 flex flex-row gap-5">
			{
				menuPath.map(([to, rout]) => (
					<li class="group transition duration-300 ease-in-out">
						<a
							href={to}
							class="font-tajawal text-size-2 group-hover:text-terracotta tracking-widest text-black uppercase transition group-hover:scale-105"
						>
							{rout}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>

<!-- Mobile dropdown nav, shown below the header -->
<nav class="tablet:hidden hidden bg-[var(--color-cream)] px-10 py-4" id="menu-mobile">
	<ul class="flex flex-col gap-5">
		{
			menuPath.map(([to, rout]) => (
				<li class="group transition duration-300 ease-in-out">
					<a
						href={to}
						class="font-tajawal text-size-2 group-hover:text-terracotta tracking-widest text-black uppercase transition group-hover:scale-105"
					>
						{rout}
					</a>
				</li>
			))
		}
	</ul>
</nav>

<script>
	class MenuButton extends HTMLElement {
		constructor() {
			super()

			this.appendChild(this.querySelector("template").content.cloneNode(true))
			const btn = this.querySelector("button")

			const menuMobile = document.getElementById("menu-mobile")
			menuMobile.classList.add("hidden")

			const setExpanded = (expand) => {
				btn.setAttribute("aria-expanded", expand ? "true" : "false")
				menuMobile.classList.toggle("hidden", !expand)
			}

			btn.addEventListener("click", () => {
				const isHidden = menuMobile.classList.contains("hidden")
				setExpanded(isHidden)
			})

			const handleViewports = (e) => {
				if (e.matches) {
					menuMobile.classList.add("hidden")
					btn.hidden = true
				} else {
					btn.hidden = false
				}
			}

			const mediaQuery = window.matchMedia("(min-width: 50em)")
			handleViewports(mediaQuery)
			mediaQuery.addEventListener("change", handleViewports)
		}
	}
	customElements.define("menu-button", MenuButton)
</script>
