---
interface Props {
	image?: string
	class?: string
}

const { image, class: customClass = "" } = Astro.props
---

<section
	class={`grid w-full h-auto tablet:grid-cols-2 tablet:h-auto laptop:h-auto desktop:h-screen ${customClass}`}
>
	{
		image && (
			<figure class="flex max-h-full w-full items-center justify-center opacity-0" :class="intersect ? 'animate-fade animate-ease-in animate-duration-1000 ' : 'opacity-0'">
				<img src={image} alt="Hero Image" class="h-full w-full object-cover object-top" />
			</figure>
		)
	}

	<div
		class="tablet:mt-0 tablet:w-full tablet:py-5 tablet:justify-center laptop:w-3/4 desktop:w-3/4 laptop:space-y-20 desktop:space-y-0 mt-5 flex w-full flex-col items-center justify-start space-y-2 text-left"
	>
		<div
			class="tablet:-translate-x-16 tablet:translate-y-10 tablet:items-start tablet:px-0 laptop:translate-y-20 desktop:translate-y-0 flex w-full -translate-y-0 flex-col items-center px-10"
		>
			<slot name="title" />
			<slot name="subtitle" />
		</div>

		<div class="tablet:px-10 my-10 flex w-full flex-col items-center gap-5 px-20 opacity-0"
		    :class="intersect ? 'animate-fade-up animate-ease-in-out animate-duration-1000 animate-delay-700 ':'opacity-0'">
			<slot name="description" />
			<slot name="cta" />
		</div>
	</div>
</section>
