---
interface Props {
	title: string
	description: string
	image: string
	keywords: string[]
}

const { title, description, image, keywords } = Astro.props

import BaseHead from "@components/BaseHead.astro"
import Footer from "@components/Footer.astro"
import Header from "@components/Header.astro"
import { ClientRouter } from "astro:transitions"

import "../styles/fonts.css"
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} keywords={keywords} />
		<ClientRouter />
	</head>
	<body>
		<Header />
		<slot class="bg-body" />
		<Footer />
	</body>
</html>

<style>
	* {
		box-sizing: border-box;
	}

	body,
	html {
		margin: 0;
		height: 100%;
		background: white;
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

	img,
	video,
	canvas {
		max-width: 100%;
		height: auto;
	}
</style>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		const menu = document.getElementById("menu")
		if (menu && !menu.classList.contains("hidden")) {
			menu.classList.add("hidden")
		}
	})
</script>
